.maximiser-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 24px;
  width: 100%; /* make it flexible */
  max-width: 1080px;
  margin-block: 32px;
}

.maximiser-container p {
  font-size: 1.2em;
}

.inputs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 32px;
  font-size: 1.2em;
}

.inputs-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  color: #666;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  box-shadow: none;
  outline: none;
}

.inputs-container select {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  color: #666;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-width: 72px;
  height: 32px;
  cursor: pointer;
  box-shadow: none;
  outline: none;
}

.input-controls {
  display: flex;
  gap: 8px;
  align-items: center;
}

.input-pto {
  width: 16px;
}

.input-year {
  width: 40px;
}

.legend-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 10px;
  padding-top: 32px;
  margin-block: 20px;
  gap: 20px;
  flex-wrap: wrap;
  border-top: 1px solid #dbdbdb;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #333;
  font-size: 16px;
  min-width: 120px;
  justify-content: center;
}

.legend-weekend {
  background-color: #f5f5f5;
  color: #666;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 24px;
  height: 24px;
}

.legend-day-off {
  background-color: #a8e6c9;
  border: 2px solid #299669;
  color: #1a5c42;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  position: relative;
}

.legend-day-off::after {
  content: "✓";
  font-size: 0.8em;
  color: rgb(41, 150, 105);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.legend-public-holiday {
  background-color: rgb(255, 205, 210);
  border: 2px solid rgb(229, 115, 115);
  color: rgb(198, 40, 40);
  border-radius: 4px;
  width: 24px;
  height: 24px;
  position: relative;
}

.legend-public-holiday::after {
  content: "★";
  font-size: 0.8em;
  color: rgb(198, 40, 40);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
